.RegisterForm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;

	.BaseForm {
		width: 350px;
		.BaseFormButtons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
		}
	}
	.BaseForm__error {
		color: red;
	}
	.BaseFormFields {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
	}
}
