.RegisterForm {
	.BaseForm {
		width: 300px;
		.BaseFormButtons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
		}
	}
	.BaseFormFields {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}
