.Chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    width: 60%;
    margin-top: 30px;
    margin-bottom: 50px;

    &__Area {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        border: 1px solid #FFEECB;
        border-radius: 5px;
        box-shadow:inset 0 0 5px 1px rgba(0, 0, 0, 0.2);;
        height: 400px;
        overflow-y: auto;
        padding: 20px;
        z-index: 10;
    }
    &__Text-field {
        margin-top: 50px;
    }
}

.FormChat {
    width: 500px;
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__Text {
        flex-basis: 380px;
    }
    &__Button {
        margin-left: 10px;
    }
}
