* {
    box-sizing: border-box;
}

body,
html {
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    background: #0092D1;
}
.content {
	margin: 0 30px;
}
.container {

}
